<ion-view>
    <ion-nav-title>
    {{chapter.title}}
    </ion-nav-title>
  <ion-content>
            <div class="item">
        <h1>{{chapter.title}}</h1>
      </div>
    <ion-list>
       
      <ion-item class="item " ng-repeat="resource in resources" href="#/app/{{chapter.$id}}/{{resource.$id}}">
        <img src="http://www.google.com/s2/favicons?domain={{resource.siteDomain}}" alt="">
        {{$index}} {{resource.siteTitle}}
        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>