<ion-view view-title="Course Detail" >
  <ion-content >
    <div class="course-detail_header">
<h2>{{course.title}}</h2>
          <div class="item item-avatar">
        <img src="{{course.user.userImageurl}}">
        <h2>{{course.user.userDisplayName}}</h2>
        <!--<p>Nine Inch Nails</p>-->
      </div>
    </div>

    <div class="list">



      <div class="item"  href="#">
        <h2>Chapters</h2>
      </div>

    </div>
    <ion-list>
      <ion-item ng-repeat="chapter in chapters" href="#/app/courses/{{course.$id}}/{{chapter.$id}}">
        <div>
          <h2><span class="chapter-count large">{{$index}}</span> {{chapter.title}}</h2>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
