<ion-view view-title="">
  <ion-content>


    <!--{{resource}}-->
    <resource-display resource=resource> </resource-display>
    <!--<div class="list">
      <label class="item item-input item-stacked-label">
    <span class="input-label">Comment</span>
    <input type="text" placeholder="Add new">
  </label>

      <div class="list comments-list">

        <div class="item item-avatar item-text-wrap comment-single" href="#"
            ng-repeat="comment in comments"
        >
        
          <img src="{{comment.userPhoto}}">
          <h2>{{comment.userName}}</h2>
          <p>{{comment.comment}}</p>
        </div>
      </div>

    </div>-->
  </ion-content>
</ion-view>
