

<div class="list card">

  <div class="item item-avatar">
    <img src="{{resource.resourceData.userAvatar}}">
    <h2>{{resource.resourceData.fullName}}</h2>
    <p>{{resource.resourceData.ownerName}}</p>
  </div>

  <div class="item item-body">
    
    <p>
      {{resource.resourceData.repoDescription}}
    </p>
    <p>
      <a href="#" class="subdued">{{resource.resourceData.stars}} Stars</a>
      <a href="#" class="subdued">{{resource.resourceData.subscribers}} Subscribers</a>
    </p>
  </div>

</div>